table {
    border: 2px solid darkgreen;
    font-size: large;
    margin: 60px auto;
   
    
}
table caption{
    font-size: larger;
    font-weight: bold;
}

span h1{
color:navy;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align:center;
font-size: 50px;
}

#about  {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 40px;

}

fieldset {
    margin: 20px 80px;
    padding: 20px auto;
    text-align: center;
    background-color: mintcream;
}

fieldset img{
    border: 2px solid black;
    border-radius:30px;
}

body{
    background-image: url("images/background1.jfif");
    height:100%;
    font-family: 'Baloo Bhaina 2', cursive;
}

@media only screen and (max-width: 600px) {
    body {
      background-image: url("images/background2.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
    }
  }

#myimg img{
   
    transition: width 1s, height 1s;
    transition-timing-function: linear;
    box-shadow: 6px 6px grey;
}  

#myimg img:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg); 
   
  }

button:hover{
    box-shadow: 2px 2px blueviolet;
}  

tr:hover{
    background-color: darkgray;
   
}

th{
    background-color: cornsilk;
    padding: 3px;
}
a:link {
    text-decoration: none;
    color: darkturquoise;
  }
  
  a:visited {
    text-decoration: none;
    color: dodgerblue;
  }
  
  a:hover {
    text-decoration: underline;
    color: salmon;
  }
  
  a:active {
    text-decoration: underline;
    color: springgreen;
  }